.margin30 {
    margin-bottom: 30px;
  }
.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
.abc{
  background-color: aquamarine;
}
.example-card {
  display:block;
  opacity: 2;
  background-color:orange;
  float: right;
  width:25%;
  margin:5%;
  padding: 20px;
}
