.margin30 {
    margin-bottom: 30px;
  }
.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
.heatmapClass{
  /*background-color: aquamarine;*/
}
.example-card {
  float: right;
  width:25%;
  margin:5%;
  padding: 20px;
}
.buttonClass{
  position: absolute;
  padding: 10px;
  bottom: 12%;
  right: 5%;
}