<div id="cont" class="container-fluid text-center">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="overlay-details">
        <div *ngIf="taskDetails; then trueBlock; else falseBlock"></div>
        <ng-template #trueBlock>
          <div>
            <!-- <mat-accordion multi="true"> -->
            <mat-expansion-panel [expanded]="false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <b>Risk</b>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <ng-template matExpansionPanelContent>
                <p [innerHTML]="taskDetails.risk"></p>
              </ng-template>
            </mat-expansion-panel>
            <!-- </mat-accordion> -->
          </div>
        </ng-template>
        <ng-template #falseBlock>
          <div>
            <!-- <mat-accordion multi="true"> -->
            <mat-expansion-panel [expanded]="false" hideToggle disabled>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <b>None Selected</b>
                </mat-panel-title>
              </mat-expansion-panel-header>
            </mat-expansion-panel>
            <!-- </mat-accordion> -->
          </div>
        </ng-template>
      </div>
      <div id="chart" class="heatmapClass">
        <mat-card class="example-card" *ngIf="showTaskCard">
          <mat-card-title-group>
            <mat-card-title>{{ cardHeader }}</mat-card-title>
            <mat-card-subtitle>{{ cardSubheader }}</mat-card-subtitle>
          </mat-card-title-group>
          <mat-card-content *ngFor="let task of tasksData; index as i">
            <div *ngIf="task.ifTaskDone; then trueBlock; else falseBlock"></div>
            <p>
              <!-- Comprehensive Heat Map -->
              <ng-template #trueBlock>
                <mat-checkbox
                  (click)="this.toggleCheckbox(i)"
                  [checked]="true"
                  color="primary">
                </mat-checkbox>
                <button
                  (click)="
                    navigate(currentDimension, cardHeader, 1, task['taskName'])
                  ">
                  {{ task['taskName'] }}
                </button>
              </ng-template>
              <ng-template #falseBlock>
                <mat-checkbox
                  (click)="this.toggleCheckbox(i)"
                  [checked]="false"
                  color="primary">
                </mat-checkbox>
                <button
                  (click)="
                    navigate(currentDimension, cardHeader, 1, task['taskName'])
                  ">
                  {{ task['taskName'] }}
                </button>
              </ng-template>
            </p>
          </mat-card-content>
        </mat-card>
        <button
          mat-raised-button
          class="downloadButtonClass"
          (click)="SaveEditedYAMLfile()">
          Download edited YAML file
        </button>
        <button
          mat-raised-button
          class="resetButtonClass"
          (click)="ResetIsImplemented()">
          Reset Implemented
        </button>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
