.margin30 {
  margin-bottom: 30px;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.title-button {
  background-color: transparent;
  border: none;
  text-align: left;
  cursor: pointer;
  font-weight: 700;
}

.right-panel {
  margin: 5%;
  padding: 20px;
  height: 80vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.heatmapClass {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 6fr 4fr;
  height: 100%;
  width: 100%;
}

.heatmapChart {
  grid-row: 1/4;
  display: grid;
  justify-items: center;
  align-content: space-between;
}
#chart {
  width: 100%;
  max-width: min(100vh - 60px, 100vw - 60px);
}

.downloadButtonClass {
  margin: 10px 0;
}
.overlay-details {
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.555);
  backdrop-filter: blur(3px);
  position: absolute;
  /* padding: 6em; */
  /* margin-left: 20%; */
  width: 60%;
  min-height: 100%;
}
.overlay-modal {
  /* border: 1px solid black; */
  margin: 5em;
  background-color: rgb(238, 238, 238);
  padding: 1em;
  border-radius: 1em;
  height: 100%;
}

.overlay-header {
  display: grid;
  grid-template-columns: 1fr 0.1fr;
}

.overlay-close {
  border: black solid 1px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: black;
  grid-column: 2/3;
  grid-row: 1/4;
  display: grid;
  justify-content: top;
  margin-left: auto;
}
.team-filter {
  padding: 0.4rem;
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
}

.team-filter.hidden {
  height: 0;
  visibility: collapse;
}

.filter-toggle .hidden {
  display: none;
}
.team-list {
  list-style-type: none;
  margin: 0;
  padding: 0 1em;
}
.mat-chip-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1rem;  
}
.filter-container {
  position: relative;
}
button.filter-toggle {
  position: absolute;
  top: 2px;
  right: 2px;
  border: 0;
  background-color: transparent;
  z-index: 1;
  padding: 0;
  min-width: 0;
  line-height: 24px;
}

.footer-buttons {
  grid-column: 2/3;
  place-self: flex-end;
  margin: 0 1rem;
  padding-top: 1rem;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

@media only screen and (max-width: 750px) {
  .heatmapClass {
      grid-template-rows: auto auto 1fr auto;
      grid-template-columns: 1fr;
  }
  
  .team-filter, .heatmapChart, .footer-buttons {
      grid-column: 1;
  }
  
  .team-filter {
      grid-row: 1;
      padding: 0.4rem;
  }
  
  .mat-chip-list {
      padding: 0.4rem;
  }

  .heatmapChart {
      grid-row: 2;
  }

  #chart {
      max-width: max(60vh, 60vw);
  }
  
  .overlay-details {
    width: 100%;
  }  

}