<mat-nav-list>
  <a mat-list-item *ngFor="let option of Options; index as i" routerLink="{{ Routing[i] }}">
    <mat-icon mat-list-icon color="primary">{{ Icons[i] }}</mat-icon>
    <h3 mat-line>{{ Options[i] }}</h3>
  </a>
</mat-nav-list>

<!-- Separate theme toggle outside nav-list -->
<mat-divider></mat-divider>

<mat-list>
  <mat-list-item (click)="toggleTheme()" style="cursor: pointer">
    <mat-icon mat-list-icon color="primary">
      {{ isNightMode ? 'light_mode' : 'dark_mode' }}
    </mat-icon>
    <h3 mat-line>
      {{ isNightMode ? 'Switch to Light Mode' : 'Switch to Dark Mode' }}
    </h3>
  </mat-list-item>
</mat-list>
