<mat-nav-list>
  <a mat-list-item *ngFor="let option of Options; index as i" routerLink="{{ Routing[i] }}">
    <span matListItemIcon>
      <mat-icon color="primary">{{ Icons[i] }}</mat-icon>
    </span>
    <h3 matListItemTitle>{{ Options[i] }}</h3>
  </a>
  <a mat-list-item href="https://github.com/wurstbrot/DevSecOps-MaturityModel/" target="_blank">
    <span matListItemIcon>
      <mat-icon color="primary" svgIcon="github"></mat-icon>
    </span>
    <h3 matListItemTitle>GitHub</h3>
  </a>
</mat-nav-list>

<!-- Separate theme toggle outside nav-list -->
<mat-divider></mat-divider>

<mat-list>
  <mat-list-item (click)="toggleTheme()" style="cursor: pointer">
    <span matListItemIcon>
      <mat-icon color="primary">
        {{ isNightMode ? 'light_mode' : 'dark_mode' }}
      </mat-icon>
    </span>
    <h3 matListItemTitle>
      {{ isNightMode ? 'Switch to Light Mode' : 'Switch to Dark Mode' }}
    </h3>
  </mat-list-item>
</mat-list>
