{
	http_port {$PORT}
}

:{$PORT}, localhost:{$PORT} {
	log stdout
	file_server {
		root /srv
	}
        try_files {path} {path}/ /index.html

	header / {
		X-Content-Type-Options "nosniff"
		X-XSS-Protection "1; mode=block"
		X-Robots-Tag "none"
		X-Download-Options "noopen"
		X-Permitted-Cross-Domain-Policies "none"
		Referrer-Policy "no-referrer"
	}
}
