@media print {
    @page {
        size: landscape
    }
}

@media print {
    h1, h2, h3, h4, h5 {
        font-family: times new roman, times, serif;
        text-align: justify;
        margin-top: 10px;
        margin-bottom: 5px;
        font-weight: bold;
    }

    thead {
        display: table-header-group;
    }

    div,
    ul li {
        font-size: 12px;
        word-break: break-all;
    }

    ul {
        padding-left: 5px;
    }

    h1 {
        font-size: 16px;
    }

    h2 {
        font-size: 15px;
    }

    h3 {
        font-size: 14px;
    }

    h4 {
        font-size: 12px;
    }

    b, a {
        font-size: 10px;
    }

    div {
        font-size: 10px;
    }

    .nav {
        display: none;
    }

    a[href]:after {
        content: none !important;
    }

    table {
        table-layout: fixed;
        word-wrap: break-word;
    }

    @page {
        size: auto;   /* auto is the initial value */
        /* this affects the margin in the printer settings */
        margin: 5mm 5mm 5mm 5mm;
    }

    body {
        /* this affects the margin on the content before sending to printer */
        margin: 0px;
        /*
        width: 21cm;
        height: 29.7cm;
        */
    }

    .popoverdetails, .extra {
        display: none;
    }

    body > table tr > th:nth-child(1) {
        width: 12%;
    }

    body > table tr > th:nth-child(2) {
        width: 12%;
    }

    table {
        page-break-inside: avoid;
    }
    hr {
        display:none;
        margin-top:6px;
        margin-bottom:6px;
    }
}