/* SVG styling */
.spiderweb svg {
    width: 960px;
    height: 300px;
}
.spiderwebsvg text {
    font-size:1.5em;
}

#energychart svg {
    height: 600px;
}

.spiderweb path {
    stroke: #777;
    stroke-width: 0.5px;
}

.spiderweb .labels {
    fill: black;
    font-weight: 100;
    letter-spacing: -1px;
}
.spiderweb .labels.segment {
    font-size: 10px;
}

table  a.selected{
    color: green;
}

.spiderweb svg text {
    font: normal 14px Arial;
}


.table-nonfluid {
    width: auto !important;
}

tr [colspan="2"], th {
    text-align: center !important;
}