/* SVG styling */
.spiderweb svg {
    width: 960px;
    height: 300px;
}
.spiderwebsvg text {
    font-size:1.5em;
}

#energychart svg {
    height: 850px;
}

.spiderweb path {
    stroke: #777;
    stroke-width: 0.5px;
}

.spiderweb .labels {
    fill: black;
    font-weight: 100;
    letter-spacing: -1px;
}
.spiderweb .labels.segment {
    font-size: 10px;
}

table  a.selected{
    color: green;
}

.spiderweb svg text {
    font: normal 19px Arial;
}


.usefullness .table-nonfluid {
    width: auto !important;
}

.usefullness tr [colspan="2"], .usefullness th, .usefullness td {
    text-align: center !important;
}

.usefullness th:nth-child(1):not("legend"), .usefullness td:nth-child(1):not("legend") {
    text-align: right  !important;
}

.usefullness td {
    vertical-align: middle !important;
}