.progress-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

/* TODO(mdc-migration): The following rule targets internal classes of slider that may no longer apply for the MDC version. */
.mat-slider-horizontal {
  min-width: 80px;
}

/* TODO(mdc-migration): The following rule targets internal classes of slider that may no longer apply for the MDC version. */
.mat-slider-track-fill {
  background-color: #66bb6a;
  height: 10px;
}
.step-label {
  min-width: 80px;
  font-size: smaller;
} 

