.progress-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.mat-mdc-slider {
  min-width: 80px;
}

:host ::ng-deep .mat-mdc-slider .mdc-slider__track--active_fill {
  border-color: #66bb6a;
}
.step-label {
  min-width: 80px;
  font-size: smaller;
} 

