<div id="team-section">
  <h2>Team List</h2>
  <div class="team-list">
    <ul>
      <li *ngFor="let team of teamList">{{ team }}</li>
    </ul>
  </div>
  <h2>Team Group</h2>
  <h3>Group 123</h3>
  <div class="team-list">
    <ul>
      <li>Team 1</li>
      <li>Team 2</li>
      <li>Team 3</li>
    </ul>
  </div>
  <h3>Group 123</h3>
  <div class="team-list">
    <ul>
      <li>Team 1</li>
      <li>Team 2</li>
      <li>Team 3</li>
      <li>Team 1</li>
      <li>Team 2</li>
      <li>Team 3</li>
      <li>Team 1</li>
      <li>Team 2</li>
      <li>Team 3</li>
      <li>Team 1</li>
      <li>Team 2</li>
      <li>Team 3</li>
      <li>Team 1</li>
      <li>Team 2</li>
      <li>Team 3</li>
    </ul>
  </div>
  <h3>Group 123</h3>
  <div class="team-list">
    <ul>
      <li>Team 1</li>
      <li>Team 2</li>
      <li>Team 3</li>
    </ul>
  </div>
</div>
