h2 {
  color: #000000;
  text-align: center;
  font-weight: 800;
  font-size: 2em;
  margin: 1em 1em;
}
h3 {
  color: #000000;
  text-align: center;
  font-weight: 500;
  font-size: 1.2em;
  font-style: italic;
  margin: 1em 1em;
}
.team-list {
  width: 70%;
  overflow-x: auto;
  white-space: nowrap;
  padding: 20px;
  margin: 0 auto;
}

.team-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex; /* Use flex layout */
}

.team-list ul li {
  flex: 0 0 150px; /* Set a fixed width */
  height: 100px;
  background-color: #66bb6a;
  border-radius: 10px;
  margin-right: 20px;
  display: flex; /* Use flex layout */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  font-weight: bold;
}
