<div class="content-box">
    <h1>{{currentTask.dimension}} -> {{currentTask.subDimension}}: Building and testing of artifacts in virtual environments</h1>
    <div class="example-action-buttons">
        <button mat-raised-button (click)="openall()" >Expand All</button>
        <button mat-raised-button (click)="closeall()">Collapse All</button>
    </div>
    <mat-accordion multi="true">
        <mat-expansion-panel  [expanded]="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <b>Description</b>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p [innerHTML]="currentTask.description"></p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <b>Risk</b>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ul *ngFor="let risk of currentTask.risk">
                <li>{{risk}}</li>
            </ul>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <b>Measure</b>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p [innerHTML]="currentTask.measure"></p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <b>Implementation Guide</b>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p [innerHTML]="currentTask.implementatonGuide"></p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <b>Difficulty Of Implementation</b>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Knowledge: {{this.currentTask.knowledge}} </p>
            <p>Time: {{this.currentTask.time}} </p>
            <p>Resources: {{this.currentTask.resources}}</p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <b>Implementation</b>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>
                <mat-accordion multi="true">
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <b>CI/CD tools</b>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>
                            <mat-accordion multi="true">
                                <mat-expansion-panel>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            <b>Tags</b>
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <p>ci-cd</p>
                                </mat-expansion-panel>
                                <mat-expansion-panel>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            <b>URL</b>
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <p>https://martinfowler.com/articles/continuousIntegration.html</p>
                                </mat-expansion-panel>
                                <mat-expansion-panel>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            <b>Description</b>
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <p>CI/CD tools such as jenkins, gitlab-ci or github-actions </p>
                                </mat-expansion-panel>
                            </mat-accordion>
                        </p>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <b>Container technologies and orchestration like Docker, Kubernetes</b>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>
                            <mat-accordion multi="true">
                                <mat-expansion-panel>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            <b>Tags</b>
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                                </mat-expansion-panel>
                                <mat-expansion-panel>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            <b>URL</b>
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                                </mat-expansion-panel>
                                <mat-expansion-panel>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            <b>Description</b>
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                                </mat-expansion-panel>
                            </mat-accordion>
                        </p>
                    </mat-expansion-panel>
                </mat-accordion>
            </p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <b>References</b>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>
                <mat-accordion multi="true">
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <b>OWASP SAMM VERSION 2</b>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ul *ngFor="let samm of currentTask.samm">
                            <li>{{samm}}</li>
                        </ul>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <b>ISO27001 2017</b>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ul *ngFor="let iso of currentTask.iso">
                            <li>{{iso}}</li>
                        </ul>
                    </mat-expansion-panel>
                </mat-accordion>
            </p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <b>Depends on</b>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ul *ngFor="let dependency of this.currentTask.dependsOn">
                <li>{{dependency}}</li>
            </ul>
        </mat-expansion-panel>
    </mat-accordion>
</div>
  