.content {
  width: 100%;
  /*background-color: gainsboro;*/
}
.mat-form-field {
  margin: 20px;
  width: 90%;
}

.matrix-table {
  margin: 20px;
}

.mat-cell {
  padding: 20px;
  width: 12.5%;
  max-width: 17%;
  word-wrap: break-word;
}

.mat-header-cell {
  padding: 10px;
  width: 12.5%;
  max-width: 17%;
  word-wrap: break-word;
  font-size: 16px;
  font-weight: bold;
}

.table-small-width {
  width: 5%;
  max-width: 9%;
}

button {
  background-color: white;
  border: none;
  text-align: left;
  cursor: pointer;
}

.tags-task {
  font-weight: 800;
  font-style: italic;
  color: rgb(0, 113, 151);
  font-size: small;
}
