.content{
    width: 100%;
    background-color: #e5e5e5;
}

.matrix-table {
    margin: 20px;
}

.mat-cell{
    padding: 20px;
    width: 12.5%;  
    max-width: 12.5%;  
    word-wrap: break-word;
}

.mat-header-cell{
    padding: 10px;
    width: 12.5%;  
    max-width: 12.5%;  
    word-wrap: break-word;
}
  