<div class="content">
<app-top-header section="Matrix"></app-top-header>
<mat-form-field class="example-chip-list">
    <mat-label>Filter</mat-label>
    <mat-chip-list #chipList aria-label="Filter" color="primary">
      <mat-chip
        color="primary"
        *ngFor="let row of rows"
        (removed)="remove(row)"
        [selected]=true>
        {{row}}
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>
      <input
        #rowInput
        [formControl]="rowCtrl"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes">
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      <mat-option *ngFor="let row of filteredRows | async" [value]="row">
        {{row}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 matrix-table">
  
    <!-- Dimension Column -->
    <ng-container matColumnDef="Dimension">
      <th mat-header-cell *matHeaderCellDef> Dimension </th>
      <td mat-cell *matCellDef="let element"> {{element.Dimension}} </td>
    </ng-container>
  
    <!-- Sub Dimension Column -->
    <ng-container matColumnDef="SubDimension">
      <th mat-header-cell *matHeaderCellDef> Sub-Dimension </th>
      <td mat-cell *matCellDef="let element"> {{element.SubDimension}} </td>
    </ng-container>
  
    <!-- Level 1 Column -->
    <ng-container matColumnDef="Level1" *ngIf="iflvl1exists==true">
      <th mat-header-cell *matHeaderCellDef> {{levels[0]}} </th>
        <td mat-cell *matCellDef="let element"> 
            <ul>
                <li *ngFor="let lvl1 of element.Level1" routerLink={{Routing}}>
                    {{lvl1}}
                </li>
            </ul>
        </td>
    </ng-container>
  
    <!-- Level 2 Column -->
    <ng-container matColumnDef="Level2"  *ngIf="iflvl2exists==true">
      <th mat-header-cell *matHeaderCellDef> {{levels[1]}} </th>
      <td mat-cell *matCellDef="let element"> 
            <ul>
                <li *ngFor="let lvl2 of element.Level2" routerLink={{Routing}}>
                    {{lvl2}}
                </li>
            </ul>
        </td>
    </ng-container>
  
    <!-- Level 3 Column -->
    <ng-container matColumnDef="Level3"  *ngIf="iflvl3exists==true">
        <th mat-header-cell *matHeaderCellDef> {{levels[2]}} </th>
        <td mat-cell *matCellDef="let element">
            <ul>
                <li *ngFor="let lvl3 of element.Level3" routerLink={{Routing}}>
                    {{lvl3}}
                </li>
            </ul>
        </td>
    </ng-container>

    <!-- Level 4 Column -->
    <ng-container matColumnDef="Level4"  *ngIf="iflvl1exists==true">
        <th mat-header-cell *matHeaderCellDef> {{levels[3]}} </th>
        <td mat-cell *matCellDef="let element">
            <ul>
                <li *ngFor="let lvl4 of element.Level4" routerLink={{Routing}}>
                    {{lvl4}}
                </li>
            </ul>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns" ></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  
  
</div>