<div class="content">
  <app-top-header section="Matrix"></app-top-header>
  <mat-form-field class="example-chip-list">
    <mat-label>Sub-Dimension Filter</mat-label>
    <mat-chip-list #chipList aria-label="Filter" color="primary">
      <mat-chip
        color="primary"
        *ngFor="let row of rowsCurrentlyBeingShown"
        (removed)="remove(row)"
        [selected]="true">
        {{ row }}
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>
      <input
        #rowInput
        [formControl]="rowCtrl"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes" />
    </mat-chip-list>
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="selected($event)">
      <mat-option *ngFor="let row of filteredRows | async" [value]="row">
        {{ row }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field class="example-chip-list">
    <mat-label>Tags Filter</mat-label>
    <mat-chip-list #chipListtags aria-label="Filter" color="primary">
      <mat-chip
        color="primary"
        *ngFor="let row of rowsCurrentlyBeingShown"
        (removed)="remove(row)"
        [selected]="true">
        {{ row }}
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>
      <input
        #rowInput
        [formControl]="rowCtrltags"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipListtags"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes" />
    </mat-chip-list>
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="selected($event)">
      <mat-option *ngFor="let row of filteredRows | async" [value]="row">
        {{ row }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <table
    mat-table
    [dataSource]="dataSource"
    class="mat-elevation-z8 matrix-table">
    <!-- Dimension Column -->
    <ng-container matColumnDef="Dimension">
      <th mat-header-cell *matHeaderCellDef class="table-small-width">
        Dimension
      </th>
      <td mat-cell *matCellDef="let element" class="table-small-width">
        <img
          src="assets/images/{{ element.Dimension }}.png"
          height="40px"
          alt="" />
        {{ element.Dimension }}
      </td>
    </ng-container>

    <!-- Sub Dimension Column -->
    <ng-container matColumnDef="SubDimension">
      <th mat-header-cell *matHeaderCellDef class="table-small-width">
        Sub-Dimension
      </th>
      <td mat-cell *matCellDef="let element" class="table-small-width">
        {{ element.SubDimension }}
      </td>
    </ng-container>

    <div *ngFor="let lvl of lvlColumn; index as i">
      <ng-container matColumnDef="{{ lvl }}">
        <th mat-header-cell *matHeaderCellDef>{{ levels[i] }}</th>
        <td mat-cell *matCellDef="let element">
          <ul>
            <li *ngFor="let task of element[lvl]; index as j">
              <button
                (click)="
                  navigate(element.Dimension, element.SubDimension, i + 1, task)
                ">
                <div
                  *ngIf="
                    YamlObject[element.Dimension][element.SubDimension][task][
                      'isImplemented'
                    ];
                    then thenBlock;
                    else elseBlock
                  "></div>
                <ng-template #thenBlock>
                  <p style="color: green">{{ task }}</p>
                </ng-template>
                <ng-template #elseBlock>
                  <p>{{ task }}</p>
                </ng-template>
              </button>
            </li>
          </ul>
        </td>
      </ng-container>
    </div>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
