<div class="content">
  <app-top-header section="Matrix"></app-top-header>
  <mat-form-field class="activity-chip-list">
    <mat-label>SubDimension Filter</mat-label>
    <mat-chip-list #chipList selectable multiple>
      <mat-chip
        #c="matChip"
        *ngFor="let subDimension of listSubDimension"
        (click)="toggleSubDimensionSelection(c)"
        [value]="subDimension"
        selected>
        {{ subDimension }}
      </mat-chip>
    </mat-chip-list>
  </mat-form-field>
  <mat-form-field class="activity-chip-list">
    <mat-label>Activity Tag Filter</mat-label>
    <mat-chip-list selectable multiple>
      <mat-chip
        #c="matChip"
        *ngFor="let tag of listTags"
        (click)="toggleTagSelection(c)"
        [value]="tag"
        selected>
        {{ tag }}
      </mat-chip>
    </mat-chip-list>
  </mat-form-field>

  <button class="reset-button" (click)="reload()">RESET</button>

  <table
    mat-table
    [dataSource]="dataSource"
    class="mat-elevation-z8 matrix-table">
    <!-- Dimension Column -->
    <ng-container matColumnDef="Dimension">
      <th mat-header-cell *matHeaderCellDef class="table-small-width">
        Dimension
      </th>
      <td mat-cell *matCellDef="let element" class="table-small-width">
        <img
          src="assets/images/{{ element.Dimension }}.png"
          height="40px"
          alt="" />
        {{ element.Dimension }}
      </td>
    </ng-container>

    <!-- Sub Dimension Column -->
    <ng-container matColumnDef="SubDimension">
      <th mat-header-cell *matHeaderCellDef class="table-small-width">
        Sub-Dimension
      </th>
      <td mat-cell *matCellDef="let element" class="table-small-width">
        {{ element.SubDimension }}
      </td>
    </ng-container>

    <div *ngFor="let lvl of lvlColumn; index as i">
      <ng-container matColumnDef="{{ lvl }}">
        <th mat-header-cell *matHeaderCellDef>{{ levels[i] }}</th>
        <td mat-cell *matCellDef="let element">
          <ul>
            <li *ngFor="let activity of element[lvl]; index as j">
              <button
                style="margin-bottom: 1em"
                (click)="
                  navigate(
                    element.Dimension,
                    element.SubDimension,
                    i + 1,
                    activity
                  )
                ">
                <div>
                  <p style="margin: 0">{{ activity }}</p>
                </div>
                <span class="tags-activity">
                  [
                  <span
                    *ngFor="
                      let tag of YamlObject[element.Dimension][
                        element.SubDimension
                      ][activity].tags;
                      let i = index
                    ">
                    {{ tag }}
                    <span
                      *ngIf="
                        i + 1 <
                        YamlObject[element.Dimension][element.SubDimension][
                          activity
                        ].tags.length
                      ">
                      ,
                    </span>
                  </span>
                  ]
                </span>
              </button>
            </li>
          </ul>
        </td>
      </ng-container>
    </div>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
