.content {
  width: 100%;
  /*background-color: gainsboro;*/
}
.mat-form-field {
  margin: 20px;
  margin-bottom: 0;
  width: 90%;
}

.matrix-table {
  margin: 20px;
}

.mat-cell {
  padding: 20px;
  /* padding-bottom: 0; */
  width: 12.5%;
  max-width: 17%;
  word-wrap: break-word;
}

.mat-header-cell {
  padding: 10px;
  width: 12.5%;
  max-width: 17%;
  word-wrap: break-word;
  font-size: 16px;
  font-weight: bold;
}

.table-small-width {
  width: 5%;
  max-width: 9%;
}

.tags-activity {
  font-weight: 800;
  font-style: italic;
  color: rgb(0, 113, 151);
  font-size: 12px;
}
.reset-button {
  background-color: #66bb6a;
  display: block;
  margin: 0 20px;
  padding: 7px 12px;
  border-radius: 16px;
  font: 500 14px / 20px Roboto, 'Helvetica Neue', sans-serif;
}
