.settings-container {
  margin-top: 1em;
}

.progress-definition-row {
  display: grid;
  grid-template-columns: minmax(100px, 1fr) 100px minmax(200px, 2fr);
  gap: 1em;
  padding: 8px;
  border-bottom: 1px solid #eee;
  transition: background-color 0.2s;
  align-items: center;
}

.progress-definition-row:hover {
  background-color: #f5f5f5;
}

.progress-weight {
  text-align: center;
}

.progress-definitions-grid ::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0;
} 

.date-format-container {
  display: flex;
  align-items: center;
  gap: 1em;
  width: 25em;
}

.mat-slider-horizontal {
  max-width: 100px;
  width: 100px;
  min-width: 80px;
}

.progress-definitions-section {
  margin-top: 1em;
}

.progress-definitions-grid ::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0;
}

.progress-definitions-grid ::ng-deep .mat-form-field-suffix {
  top: 0;
}

.progress-definitions-grid .progress-key {
  font-weight: 500;
}

.progress-definitions-grid .progress-weight input {
  color: #f66;
  text-align: center;
}

.progress-definitions-grid .progress-definition {
  color: #333;
}

.selectable-list {
  padding: 16px;
}

.selectable-list-header {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
}

.selectable-list-header h2 {
  margin: 0;
  flex: 1;
}

.progress-definitions-grid {
  display: grid;
  grid-template-columns: auto 5em minmax(200px, 2fr) auto;
  gap: 1em;
}

.edit-hint {
  color: #666;
  font-size: 0.9em;
  font-style: italic;
}

mat-icon.mandatory-icon {
    padding: 8px;
}


@media screen and (max-width: 650px) {
  .progress-definitions-grid {
    grid-template-columns: auto;
  } 
}
