---
Build and Deployment:
  Deployment:
    Blue/Green Deployment:
      risk: A new artifacts version can have unknown defects.
      measure: By having multiple production environments, a deployment can be performant
        on the first environment to spot possible defects before it is deployment
        in the production environment(s)
      difficultyOfImplementation:
        knowledge: 1
        time: 2
        resources: 1
      usefulness: 2
      level: 4
      implementation:
      - $ref: src/assets/YAML/default/implementations.yaml#/implementations/blue-green-deploymen
      dependsOn:
      - Smoke Test
      references:
        samm2:
        - TODO
        iso27001-2017:
        - 17.2.1
        - 12.1.1
        - 12.1.2
        - 12.1.4
        - 12.5.1
        - 14.2.9
      isImplemented: false
      evidence: ""
      comments: ""
    Defined decommissioning process:
      risk: Not used applications erode and are not maintained. As an evil actor,
        I exploit known vulnerabilities in the not maintained applicaitons to perform
        latteral movement within the organization.
      measure: By having a clear decommissioning process, applicaitons not used are
        not running anymore and can therefore not be explointed.
      difficultyOfImplementation:
        knowledge: 1
        time: 2
        resources: 1
      usefulness: 2
      level: 2
      references:
        samm2:
        - O-OM-2-B
        iso27001-2017:
        - 11.2.7
      isImplemented: false
      evidence: ""
      comments: ""
    Defined deployment process:
      risk: Deployments without a defined process are error prone thus allowing old
        or untested artifact to be deployed.
      measure: A defined deployment process significantly lowers the likelihood of
        errors during the deployment phase.
      difficultyOfImplementation:
        knowledge: 2
        time: 2
        resources: 1
      usefulness: 4
      level: 1
      dependsOn:
      - Continuous Integration
      implementation:
      - $ref: src/assets/YAML/default/implementations.yaml#/implementations/ci-cd-tools
      - $ref: src/assets/YAML/default/implementations.yaml#/implementations/docker
      references:
        samm2:
        - I-SD-1-A
        iso27001-2017:
        - 12.1.1
        - 14.2.2
      isImplemented: false
      evidence: ""
      comments: ""
    Environment depending configuration parameters (secrets):
      risk: '- Parameters are often used to set credentials, for example by starting
        containers or applications; these parameters can often be seen by any one
        listing running processes on the target system.'
      measure: |
        Configuration parameters are set for each environment not in the source code.
        By using encryption, it is harder to read credentials , e.g. from the file system. Also, the usage of a credential management system can help protect credentials.
      difficultyOfImplementation:
        knowledge: 2
        time: 2
        resources: 1
      usefulness: 4
      level: 2
      implementation: []
      references:
        samm2:
        - I-SD-1-B
        iso27001-2017:
        - 9.4.5
        - 14.2.6
      isImplemented: false
      evidence: ""
      comments: ""
    Handover of confidential parameters:
      risk: '- Parameters are often used to set credentials, for example by starting
        containers or applications; these parameters can often be seen by any one
        listing running processes on the target system.'
      measure: By using encryption, it is harder to read credentials , e.g. from the
        file system. Also, the usage of a credential management system can help protect
        credentials.
      difficultyOfImplementation:
        knowledge: 2
        time: 2
        resources: 1
      usefulness: 4
      level: 3
      implementation: ""
      dependsOn:
      - Environment depending configuration parameters (secrets)
      references:
        samm2:
        - I-SD-2-B
        iso27001-2017:
        - 14.1.3
        - 13.1.3
        - 9.4.3
        - 9.4.1
        - 10.1.2
      isImplemented: false
      evidence: ""
      comments: ""
    Inventory of dependencies:
      risk: In case a vulnerability of severity high or critical is known by the organization,
        it needs to be known where an artifacts with that vulnerability is deployed
        with which dependencies.
      measure: A documented inventory of dependencies used in images and containers
        exists.
      dependsOn:
      - Defined deployment process
      difficultyOfImplementation:
        knowledge: 2
        time: 2
        resources: 3
      usefulness: 3
      dependesOn:
      - SBOM of components
      level: 3
      implementation:
      - $ref: src/assets/YAML/default/implementations.yaml#/implementations/dependencyTrack
      references:
        samm2:
        - I-SD-2-A
        iso27001-2017:
        - "8.1"
        - "8.2"
      isImplemented: false
      evidence: ""
      comments: ""
    Inventory of running artifacts:
      risk: In case a vulnerability of severity high or critical exists, it needs
        to be known where an artifacts (e.g. container image) with that vulnerability
        is deployed.
      measure: A documented inventory or a possibility to gather the needed information.
      dependsOn:
      - Defined deployment process
      difficultyOfImplementation:
        knowledge: 2
        time: 2
        resources: 3
      usefulness: 3
      level: 3
      implementation: []
      references:
        samm2:
        - I-SD-2-A
        iso27001-2017:
        - "8.1"
        - "8.2"
      isImplemented: false
      evidence: ""
      comments: ""
    Rolling update on deployment:
      risk: While a deployment is performed, the application can not be reached.
      measure: A deployment without downtime is performed*.
      difficultyOfImplementation:
        knowledge: 2
        time: 2
        resources: 2
      usefulness: 2
      level: 3
      implementation:
      - $ref: src/assets/YAML/default/implementations.yaml#/implementations/docker
      - $ref: src/assets/YAML/default/implementations.yaml#/implementations/webserver
      - $ref: src/assets/YAML/default/implementations.yaml#/implementations/rolling-update
      dependsOn:
      - Defined deployment process
      references:
        samm2:
        - I-SD-1-A
        iso27001-2017:
        - 12.5.1
        - 14.2.2
        - 17.2.1
      isImplemented: false
      evidence: ""
      comments: ""
    Same artifact for environments:
      risk: Building of an artifact for different environments means that an untested
        artifact might reach the production environment.
      measure: Building an artifact once and deploying it to different environments
        means that only tested artifacts are allowed to reach the production environment
      difficultyOfImplementation:
        knowledge: 2
        time: 2
        resources: 1
      usefulness: 4
      level: 3
      implementation:
      - $ref: src/assets/YAML/default/implementations.yaml#/implementations/docker
      dependsOn:
      - Defined build process
      references:
        samm2:
        - I-SD-2-A
        iso27001-2017:
        - 14.3.1
        - 14.2.8
        - 12.1.4
      isImplemented: false
      evidence: ""
      comments: ""
    Usage of feature toggles:
      risk: By using environment dependent configuration, some parameters will not
        be tested correctly. i.e. <pre>if (host == 'production') {} else {}</pre>
      measure: Usage of environment independent configuration parameter, called feature
        toggles, helps to enhance the test coverage. Only what has been tested, goes
        to production.
      difficultyOfImplementation:
        knowledge: 2
        time: 1
        resources: 1
      usefulness: 2
      level: 3
      implementation:
      - $ref: src/assets/YAML/default/implementations.yaml#/implementations/docker
      dependsOn:
      - Same artifact for environments
      references:
        samm2: []
        iso27001-2017:
        - 14.3.1
        - 14.2.8
        - 14.2.9
        - 12.1.4
      isImplemented: false
      evidence: ""
      comments: ""
    Usage of trusted images:
      risk: Developers or operations might start random images in the production cluster
        which have malicious code or known vulnerabilities.
      measure: Create image assessment criteria, perform an evaluation of images and
        create a whitelist of artifacts/container images/virtual machine images.
      implementation:
      - $ref: src/assets/YAML/default/implementations.yaml#/implementations/kubernetes-admission
      difficultyOfImplementation:
        knowledge: 1
        time: 1
        resources: 1
      usefulness: 3
      level: 2
      references:
        samm2:
        - I-SD-2-A
        iso27001-2017:
        - 15.1.1
        - 15.1.2
        - 15.1.3
        - 14.1.3
      isImplemented: false
      evidence: ""
      comments: ""
...
