.content{
  width: 100%;
  /*background-color: gainsboro;*/
}

.mat-form-field{
  margin: 20px;
  width: 50%;
  /*background-color: coral;*/
}
 
.matrix-table{
  margin: 20px;
}

.mat-cell{
  padding: 20px;
  width: 12.5%;  
  max-width: 12.5%;  
  word-wrap: break-word;
}

.mat-header-cell{
  padding: 10px;
  width: 12.5%;  
  max-width: 12.5%;  
  word-wrap: break-word;
  font-size: 16px;  
  font-weight: bold;
}

.sort-section{
  margin: 30px;
  margin-right: 60px;
  float: right;  
}

.filterandsort{
  /*background-color: brown;*/
}

.hide{
  display: none;
}

.export-button{
  margin: 30px;
  margin-top: 35px;
  float: right;
}

.right-section{
  /*background-color: mediumorchid;*/
  float: right;
}