<div class="content">
  <app-top-header section="Mappings"></app-top-header>
  <div class="filterandsort">
    <mat-form-field class="filterSection" appearance="fill">
      <mat-label>Filter</mat-label>
      <mat-chip-list #chipList aria-label="Filter" color="primary">
        <mat-chip *ngFor="let chip of currentChip" (removed)="remove(chip)">
          {{ chip }}
          <button matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>
        <input
          #chipInput
          [formControl]="FilterCtrl"
          [matAutocomplete]="auto"
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes" />
      </mat-chip-list>
      <mat-autocomplete
        #auto="matAutocomplete"
        (optionSelected)="selected($event)">
        <mat-option
          *ngFor="let filter of filteredChips | async"
          [value]="filter">
          {{ filter }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <div class="right-section">
      <section class="export-button">
        <button mat-raised-button color="primary" (click)="exportToExcel()">
          <mat-icon>file_download</mat-icon>
        </button>
      </section>
      <section class="sort-section">
        <mat-button-toggle-group [formControl]="SortCtrl" aria-label="Sort By">
          <mat-button-toggle
            value="sortByTask"
            (click)="changeTableBasedOnCurrentSort()"
            >Activity</mat-button-toggle
          >
          <mat-button-toggle
            value="sortBySAMM"
            (click)="changeTableBasedOnCurrentSort()"
            >SAMM</mat-button-toggle
          >
          <mat-button-toggle
            value="sortByISO"
            (click)="changeTableBasedOnCurrentSort()"
            >ISO</mat-button-toggle
          >
        </mat-button-toggle-group>
      </section>
    </div>
  </div>

  <table
    mat-table
    [dataSource]="dataSource"
    class="mat-elevation-z8 matrix-table">
    <ng-container matColumnDef="dimension">
      <th mat-header-cell *matHeaderCellDef>Dimension</th>
      <td mat-cell *matCellDef="let element">{{ element.dimension }}</td>
    </ng-container>

    <ng-container matColumnDef="subDimension">
      <th mat-header-cell *matHeaderCellDef>Sub-Dimension</th>
      <td mat-cell *matCellDef="let element">{{ element.subDimension }}</td>
    </ng-container>

    <ng-container matColumnDef="taskName">
      <th mat-header-cell *matHeaderCellDef>Activity</th>
      <td mat-cell *matCellDef="let element">{{ element.taskName }}</td>
    </ng-container>

    <ng-container matColumnDef="samm2">
      <ng-container *ngIf="currentlySortingBySAMM">
        <th mat-header-cell *matHeaderCellDef>SAMM</th>
        <td mat-cell *matCellDef="let element">{{ element.samm2 }}</td>
      </ng-container>
      <ng-container *ngIf="currentlySortingByTask || currentlySortingByISO">
        <th mat-header-cell *matHeaderCellDef>SAMM</th>
        <td mat-cell *matCellDef="let element">
          <ul>
            <li *ngFor="let sammElement of element.samm2">
              {{ sammElement }}
            </li>
          </ul>
        </td>
      </ng-container>
    </ng-container>

    <ng-container matColumnDef="ISO">
      <ng-container *ngIf="currentlySortingByISO">
        <th mat-header-cell *matHeaderCellDef>ISO</th>
        <td mat-cell *matCellDef="let element">{{ element.ISO }}</td>
      </ng-container>

      <ng-container *ngIf="currentlySortingByTask || currentlySortingBySAMM">
        <th mat-header-cell *matHeaderCellDef>ISO</th>
        <td mat-cell *matCellDef="let element">
          <ul>
            <li *ngFor="let ISOElement of element.ISO">
              {{ ISOElement }}
            </li>
          </ul>
        </td>
      </ng-container>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <table id="excel-table" class="hide">
    <tr>
      <th>Dimension</th>
      <th>Sub Dimension</th>
      <th>Activity</th>
      <th>Description</th>
      <th>Risk</th>
      <th>Measure</th>
      <th>Knowledge</th>
      <th>Resources</th>
      <th>Time</th>
      <th>Usefulness</th>
      <th>Implementation</th>
      <th>Depends On</th>
      <th>SAMM</th>
      <th>ISO</th>
    </tr>
    <tr *ngFor="let item of allMappingDataSortedByISO">
      <td>{{ item.dimension }}</td>
      <td>{{ item.subDimension }}</td>
      <td>{{ item.taskName }}</td>
      <td>{{ item.description }}</td>
      <td>{{ item.risk }}</td>
      <td>{{ item.measure }}</td>
      <td>{{ item.knowledge }}</td>
      <td>{{ item.resources }}</td>
      <td>{{ item.time }}</td>
      <td>{{ item.usefulness }}</td>
      <td>{{ item.implementation }}</td>
      <td>{{ item.dependsOn }}</td>
      <td>{{ item.samm2 }}</td>
      <td>{{ item.ISO }}</td>
    </tr>
  </table>
</div>
