<mat-drawer-container class="main-container" autosize>
  <mat-drawer #drawer class="sidenav-menu" mode="side" opened="{{ menuIsOpen }}">
    <button class="menu-close" (click)="toggleMenu()">
      <mat-icon class="white-icon">close</mat-icon>
    </button>
    <a routerLink="/"><app-logo></app-logo></a>
    <app-sidenav-buttons></app-sidenav-buttons>
  </mat-drawer>

  <div class="sidenav-content">
    <button type="button" mat-button (click)="toggleMenu()" color="primary">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="tag-line">
      <div class="tag-title">Alpha v4 edition</div>
      <div class="tag-subtitle">{{ subtitle }}</div>
    </div>
    <div class="dummy"></div>
    <a
      target="_blank"
      class="github-fork-ribbon"
      href="https://github.com/devsecopsmaturitymodel/DevSecOps-MaturityModel"
      data-ribbon="Fork me on GitHub"
      title="Fork me on GitHub"
      >Fork me on GitHub</a
    >
  </div>
  <mat-divider></mat-divider>
  <router-outlet></router-outlet>
</mat-drawer-container>
