.main-container {
  width: 100%;
  height: 100%;
}

.sidenav-content {
  display: flex;
  padding: 10px;
  justify-content: space-between;
}

.sidenav-menu {
  padding: 10px;
  padding-right: 30px;
}

.menu-close {
  position: absolute;
  right: 0;
  top: 15px;
  background: transparent;
  border: 0;
  cursor: pointer;
  color: #4caf50;
}
