/* --- experimental branch --- */
/* .mat-drawer-container {
  background-color: #fffff4; 
} */
.tag-line {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tag-title {
  font-size: 0.9em;
}

.tag-subtitle {
  font-size: 0.7em;
}

/* --- experimental branch end --- */

.main-container {
  width: 100%;
  height: 100vh;
}

.sidenav-content {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  width: 100%;
  min-height: 60px;
  box-sizing: border-box;
}

.sidenav-menu {
  padding: 20px;
}

.menu-close {
  position: absolute;
  right: 0;
  top: 2px;
  background: transparent;
  border: 0;
  color: #ddd;
  cursor: pointer;
}

.github-fork-ribbon:before {
  background-color: #333;
}

@media only screen and (max-width: 750px) {
  .github-fork-ribbon {
    display: none;
  }

}