/* --- experimental branch --- */
/* .mat-drawer-container {
  background-color: #fffff4; 
} */
.tag-line {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tag-title {
  font-size: 0.9em;
}
.tag-subtitle {
  font-size: 0.7em;
}

/* --- experimental branch end --- */

.main-container {
  width: 100%;
  height: 100%;
}

.sidenav-content {
  display: flex;
  padding: 10px;
  justify-content: space-between;
}

.sidenav-menu {
  padding: 20px;
}

.menu-close {
  position: absolute;
  right: 0;
  top: 2px;
  background: transparent;
  border: 0;
  color: #ddd;
}

.github-button img {
  margin-top: 6px;
  height: 20px;
  width: auto;
  transition: transform 0.2s;
}

.github-button:hover img {
  transform: scale(1.1);
}

:host-context(.dark-theme) .github-button img {
  filter: invert(1);
}

@media only screen and (max-width: 750px) {
    .github-fork-ribbon {
        display: none;
      }
    
}
