<div class="content-box">
  <h1>
    {{ currentActivity.category }} -> {{ currentActivity.dimension }}:
    {{ currentActivity.name }}
  </h1>

  <div class="example-action-buttons">
    <button mat-raised-button (click)="openAll()">Expand All</button>
    <button mat-raised-button (click)="closeAll()">Collapse All</button>
  </div>

  <mat-accordion multi="true">
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b>UUID</b>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p id="uuid" [innerHTML]="currentActivity.uuid"></p>
    </mat-expansion-panel>

    <mat-expansion-panel *ngIf="currentActivity.description?.hasContent()">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b>Description</b>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p id="description" [innerHTML]="currentActivity.description?.render()"></p>
    </mat-expansion-panel>

    <mat-expansion-panel *ngIf="currentActivity.risk?.hasContent()">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b>Risk</b>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p id="risk" [innerHTML]="currentActivity.risk?.render()"></p>
    </mat-expansion-panel>

    <mat-expansion-panel *ngIf="currentActivity.measure?.hasContent()">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b>Measure</b>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p id="measure" [innerHTML]="currentActivity.measure?.render()"></p>
    </mat-expansion-panel>

    <mat-expansion-panel *ngIf="currentActivity.implementationGuide?.hasContent()">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b>Implementation Guide</b>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p id="implementationGuide" [innerHTML]="currentActivity.implementationGuide?.render()"></p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b>Difficulty of Implementation</b>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Knowledge: {{ this.KnowledgeLabel }}</p>
      <p>Time: {{ this.TimeLabel }}</p>
      <p>Resources: {{ this.ResourceLabel }}</p>
    </mat-expansion-panel>

    <mat-expansion-panel *ngIf="currentActivity.usefulness !== -1">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b>Usefulness</b>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>{{ this.UsefulnessLabel }}</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b>Teams Evidence</b>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-accordion multi="true">
        <mat-expansion-panel
          id="teamsEvidence"
          *ngFor="let item of this.currentActivity.teamsEvidence | keyvalue">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <b [innerHTML]="item.key"></b>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p [innerHTML]="item.value"></p>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-expansion-panel>

    <mat-expansion-panel *ngIf="currentActivity.assessment?.hasContent()">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b>Assessment</b>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p id="assessment" [innerHTML]="currentActivity.assessment?.render()"></p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b>Implementation</b>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        <mat-accordion multi="true">
          <mat-expansion-panel *ngFor="let implement of this.currentActivity.implementation">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <b [innerHTML]="implement['name']"></b>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>
              <mat-accordion multi="true">
                <mat-expansion-panel [expanded]="true">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <b>Tags</b>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <ul *ngFor="let tag of implement['tags']">
                    <li [innerHTML]="tag"></li>
                  </ul>
                </mat-expansion-panel>
                <mat-expansion-panel [expanded]="true">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <b>URL</b>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <p [innerHTML]="implement['url']"></p>
                </mat-expansion-panel>
                <mat-expansion-panel [expanded]="true">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <b>Description</b>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <p [innerHTML]="implement['description']"></p>
                </mat-expansion-panel>
              </mat-accordion>
            </p>
          </mat-expansion-panel>
        </mat-accordion>
      </p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b>References</b>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p id="references">
        <mat-accordion multi="true">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <b>{{ SAMMVersion }}</b>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ul *ngFor="let samm of currentActivity?.references?.samm2">
              <li>{{ samm }}</li>
            </ul>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <b>{{ ISOVersion }}</b>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ul *ngFor="let iso of currentActivity?.references?.iso27001_2017">
              <li>{{ iso }}</li>
            </ul>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <b>{{ ISO22Version }}</b>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ul *ngFor="let iso22 of currentActivity?.references?.iso27001_2022">
              <li>{{ iso22 }}</li>
            </ul>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <b>{{ openCREVersion }}</b>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ul *ngFor="let openCRE of currentActivity?.references?.openCRE">
              <li>
                <a target="_blank" href="{{ openCRE }}">
                  <div [innerHTML]="currentActivity.uuid"></div>
                </a>
              </li>
            </ul>
          </mat-expansion-panel>
        </mat-accordion>
      </p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b>Implemented By</b>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div *ngIf="currentActivity.teamsImplemented; then thenBlock; else elseBlock"></div>
      <ng-template #thenBlock>
        <ul class="teams-implemented-list">
          <li *ngFor="let item of currentActivity.teamsImplemented | keyvalue">
            <b>{{ item.key }}</b
            >:{{ item.value }}
          </li>
        </ul>
      </ng-template>
      <ng-template #elseBlock
        >teamsImplemented variable not present <br />
        <p *ngIf="currentActivity.isImplemented === false">Not Implemented</p>
        <p *ngIf="currentActivity.isImplemented === true">Implemented</p>
      </ng-template>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b>Depends on</b>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div *ngIf="currentActivity && currentActivity.name">
        <app-dependency-graph [activityName]="currentActivity.name"></app-dependency-graph>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b>Comments</b>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p id="comments" [innerHTML]="currentActivity.comments?.render()"></p>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <b>Tags</b>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p [innerHTML]="currentActivity.tags"></p>
  </mat-expansion-panel>
</div>
