/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.userday table :is(td, th) {
    border: 1px solid black;
    padding: 0.3em;
}

.userday tr:nth-child(even) {
    background-color: #66bb6a;
}

.userday img {
    max-height: 100px;
    float: left;
    margin-right: 10px;
}

.usage-dimensions img {
    max-width: 40rem;
}