body {
    background-color: #eee;
  }
  
.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 3px;
  }
  
.node text { font: 16px sans-serif; }
  
.link {
    
    stroke: #ccc;
    stroke-width: 2px;
    fill: none;
  }