name: Deploy Heroku

on:
  workflow_dispatch:



jobs:
  heroku:
    runs-on: ubuntu-latest
    steps:
      - name: "Check out Git repository"
        uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac #v4.0.0
      - name: "Set Heroku app & branch for ${{ github.ref }}"
        run: |
          echo $GITHUB_REF
          if [ "$GITHUB_REF" == "refs/heads/main" ]; then
            echo "HEROKU_APP=" >> $GITHUB_ENV
          fi
          echo "HEROKU_BRANCH=main" >> $GITHUB_ENV
      - name: Install Heroku CLI
        run: |
          curl https://cli-assets.heroku.com/install.sh | sh 
      - name: "Deploy ${{ github.ref }} to Heroku"
        uses: akhileshns/heroku-deploy@v3.13.15
        with:
          heroku_api_key: ${{ secrets.HEROKU_API_KEY }}
          heroku_app_name: "dsomm"
          heroku_email: timo.pagel@owasp.org
          branch: ${{ env.HEROKU_BRANCH }}
          usedocker: true
