.content {
  width: 100%;
  /*background-color: gainsboro;*/
}
.mat-form-field {
  margin: 20px;
  margin-bottom: 0;
  width: 90%;
}

.matrix-table {
  margin: 20px;
}

.mat-cell {
  padding: 20px;
  /* padding-bottom: 0; */
  width: 12.5%;
  max-width: 17%;
  word-wrap: break-word;
}

.mat-header-cell {
  padding: 10px;
  width: 12.5%;
  max-width: 17%;
  word-wrap: break-word;
  font-size: 16px;
  font-weight: 500;
}

.mat-cell ul.activity-list {
  list-style-type: disclosure-closed;
}

.mat-cell-activity {
  margin-bottom: 1em;
  position: relative;
}
.mat-cell-activity a.activity-title {
  text-decoration: unset;
  margin: 0;
}
.mat-cell-activity a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.mat-cell-activity a.activity-title:link {
  color: inherit;
}

.mat-cell .dim-icon {
  display: flex;
  align-items: center;
  gap: 8px;
  
}
.mat-cell .dim-icon mat-icon {
  font-size: 45px;
  width: 45px;
  height: 45px;
}

.table-small-width {
  width: 5%;
  max-width: 9%;
}

.tags-activity {
  font-weight: 800;
  font-style: italic;
  font-size: 12px;
}
/*tag activity - light */
:host-context(body.light-theme) .tags-activity,
:host-context(body.light-theme) .tags-activity span {
  color: rgb(0, 113, 151);
}

/*tag activity - dark */
:host-context(body.dark-theme) .tags-activity,
:host-context(body.dark-theme) .tags-activity span {
  color: #397af4;
}

.reset-button {
  background-color: #66bb6a;
  display: block;
  margin: 0 20px;
  padding: 7px 12px;
  border-radius: 16px;
  font: 500 14px / 20px Roboto, 'Helvetica Neue', sans-serif;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}

.mat-mdc-header-cell {
  font-weight: bold;
  font-size: medium;
}

.matrix-table {
  width: 100%;
  margin-bottom: 20px;
}

/* No data message styling */
.mat-no-data-row {
  height: 100px;
}

.mat-no-data-row td {
  text-align: center;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.54);
  padding: 24px;
}
